
h2 Enter new book information 
form(action="/new" method="POST")
    label(for="name") Author's Name:
    input(type="text", placeholder="name" name="name")
    label(for="message") Message Text:
    input(type="text", placeholder="Message" name="message")
    button(type="submit") Submit